<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Ohpiuchus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.js')}}"> </script>
    <script src="https://kit.fontawesome.com/7a267f8cdb.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="container">
        <div id="left">
            <div id="trans">
                <button id="upload">
                    Click to Upload
                </button>
                
            </div>
            <div id="control-pannel">
                <button id="file-select">
                    🧊 Select
                </button>
                <button id="streaming">
                    🫗 Streaming
                </button>
            </div>
        </div>
        <div id="right">
            <div id="TODO">
                To be continued...
            </div>
            
        </div>
    </div>
    
    <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</body>
</html>