@font-face {
    font-family: 'CustomFont';
    src: url('/static/fonts/DepartureMono-Regular.woff2') format('truetype');
}

@font-face {
    font-family: 'moni';
    src: url('/static/fonts/consola-1.ttf') format('woff');
}

* {
    padding: 0;
    margin: 0;
}


@media screen and (orientation: landscape) {
    body{
        background-color: #333;
        font-family: "CustomFont";
        height: 100%;
        width: 100%;
    }
    #container{
        display: flex;

        float: center;
        width: calc(min(100%,160vmin));
        height: 100%;
        justify-content: center;
        justify-items: center;
        justify-self: center;
    }
    #nav{
        display: none;
    }
    
    #main{
        display: flex;
        align-self: center;
        width: 48vw;
        height: 80vh;
        margin: 1vw;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    #trans{
        color: #b1b1b1;
        font-size: 1.2vmin;
        letter-spacing: 0.02rem;
        display: flex;
        margin-top: 2vw;
        width: 60vmin;
        height: 60vmin;
        background-color: #444;
        align-items: center;
        border-radius: 1vw;
        border: .2vw solid #444;
        justify-content: center;
        flex-direction: column;
        transition: all .2s linear;
        font-family: "Consolas", monospace;

    }
    
    pre{
        display: flex;
        width: 60vmin;
        height: auto;
        align-items: center;
        justify-content: center;
        margin: 0;
        font-family: "Consolas",monospace;
        letter-spacing: 0.02em;
        user-select: none;
    }

    #trans>pre{
        letter-spacing: 0.02rem;
        font-size: 1.2vmin;
    }
    #status{
        display: flex;
        width: 60vmin;
        height: 3vw;
        background-color: #494b4b;
        /* opacity: ; */
        z-index: 2;
        position:relative;
        margin-top: .5vw;
        font-size: calc(.8vw);
        border-radius: .5vw;
        align-items: center;
        justify-content: center;
        /* text-align: center; */
        color: #afafaf;
        align-content: center;
    }

    
    #upload{
        width: 100%;
        height: 100%;
        background: none;
        border: none;
        cursor: pointer;
        font-size: larger;
        color: #797979;
        transition: all .2s linear;
        border-radius: 15px;
    }
    
    #control-pannel{
        font-size: 2vmin;
        margin-top: .5vw;
        display: flex;
        width: 60vmin;
        height: 2vw;
        justify-content: center;
        align-items: center;
        border-radius: 0.5vw;
    }
    form{
        width: 100%;
    }
    input{
        display: none;
    }
    label{
        margin: auto;
        opacity: .8;
        justify-content: center;
        align-items: center;
        background-color: #494b4b;
        width: 49%;
        height: 100%;
        text-align: center;
        display: flex;
        /* border: 1px solid #343434; */
        color: #afafaf;
        cursor: pointer;
        transition: all .2s linear;
        float: left;
    }
    .file-button{
        border-radius: 20px 0  0 20px;
        float: left;
    }
    .submit-button{
        border-radius: 0 20px 20px 0;
        float: right;
    }
    #description{
        display: flex;
        align-self: center;
        align-items:center;
        justify-content: center;
        width: 30vw;
        height: 80vh;
        text-align: center;
        margin: 1vw;
        letter-spacing: .2rem;
    }
    
    #TODO{
        /* width: 25vw; */
        height: 25vw;
        /* margin-top: 2vw; */
        font-size: calc(2vw);
        text-align: left;
        color: #959595;
        font-family: "CustomFont";
    }
    
    .submit-button:hover, .file-button:hover{
        background-color: #3a9a78;
        color: #fff;
    }
    
    #upload:hover{
        background-color: #8ea5ad;
        opacity: .5;
        color: #343434;
    }
    

    
    a {
        text-decoration: none;
        color: #3a9a78;
    }
    
    a::after{
        text-decoration: none;
        color: #3a9a78;
    }
    
    ul{
        margin-top: 2vw;
    }

    li{
        font-size: 1vw;
        letter-spacing: 0;
        text-align: left;
        margin-top: .5vw;
        color: #797979;
        List-style-type :none
    }
    #notification{
        font-size: 1vw;
    }
    
    #commercial{
        text-align: left;
        font-size: 1vw;
        margin-top: 1vw;
        align-content: center;
        height: auto;
        /* background-color: #5c5c5c; */
    }
    #author{
        display: flex;
        align-items: center;
        justify-content: left;
        color: #797979;
    }
    #author>p{
        font-size: .9vw;
        letter-spacing: 0;
        text-align: left;
    }

    #author>img{
        margin-top: 1vh;
        width: 8vh;
        height: 8vh;
    }
    
    #avatar{
        margin-top: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: left;
        flex-direction: row;
        float: left;
    }
    #avatar{
        font-size: .8vw;
        opacity: 0.6;
    }
    img{
        align-content: center;
        height: 1.5vw;
        margin: .2vw;
        opacity: .4;
        transition: all .2s linear;
    }
    
    img:hover{
        opacity: 1;
        scale: 1.1;
    }
    #trans:hover{
        border: .2vw solid #3a9a78;
        background-color: #ffffff;
        /* margin: .5vw; */
        opacity: .6;
        color: #3e3e3e;
    }
    

    
    
    .red{
        color: #db634a;
    }
    
    .red:hover{
        background-color: #db634a;
        color: #fff;
    }
    
    .green{
        /* color: #fff; */
        color: #3a9a78;
        
    }
    
    #welcome-page{
        font-size: 1.2vmin;
    }
    
    *::selection{
        background-color: #3a9a78;
        color: #fff;
    }
    
    #loader{
        width: 25vw;
        height: 3vw;
        justify-content: center;
        align-items: center;
        display: none;
        /* margin-top: 20px; */
        margin-top: .5vw;
    
    }
    #loader span{
        width: 0.5vw;
        height: 2.5vh;
        margin: 0 13px;
        background-color: #fff;
        animation: animate 1.4s linear infinite;
    
    }
    #loader span:nth-child(1){
        animation-delay: 0s;
    }
    #loader span:nth-child(2){
        animation-delay: 0.2s;
    }
    #loader span:nth-child(3){
        animation-delay: 0.4s;
    }
    #loader span:nth-child(4){
        animation-delay: 0.6s;
    }
    #loader span:nth-child(5){
        animation-delay: 0.8s;
    }
    #loader span:nth-child(6){
        animation-delay: 1.0s;
    }
    #loader span:nth-child(7){
        animation-delay: 1.2s;
    }
    
    @keyframes animate
    {
        0%
        {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
            opacity: 0;
            transform: translateX(-50px) scale(1);
        }
    
        50%
        {
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
            opacity: 1;
            transform: translateX(0px ) scale(1.2);
        }
    
        100%
        {
            box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
            opacity: 0;
            transform: translateX(50px) scale(1);
        }
    }
}
@media screen and (orientation: portrait) {
    body{
        background-color: #333;
        font-family: "CustomFont";
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body>div{
        display: flex;
    }
    #container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-self: center;
        height: auto;
        width: auto;
        /* background-color: #fff; */
    }

    #nav{
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
        width: 70vmin;
        height: auto;
        align-items: center;
    }
    #mobile-logo{
        color: #fff;
        font-size: .8vh;
        letter-spacing: .15rem;
    }
    #switch{
        width: 70vmin;
        height: auto;
        background-color: #3a9a78;
        color: #afafaf;
        /* background-color: #ab3f3f; */
        text-align: center;
    }
    #main{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #b1b1b1;
        /* background-color: #3a9a78; */
        font-size: 12px;
        margin-top: 1vh;
    }
    
    #trans{
        display: flex;
        flex-direction: column;
        letter-spacing: .02rem;
        justify-content: center;
        width: 70vmin;
        height: 70vmin;
        margin-top: 0;
        border-radius: 2vw;
        align-items: center;
        border: .4vw solid #444;
    }
    pre{
        display: flex;
        width: 60vmin;
        height: auto;
        justify-content: center;
        align-items: center;
        margin: 0;
        letter-spacing: 0.02em;
        font-size: 1.2vmin;
        font-family: "CustomFont";
        user-select: none;
    }
    #trans>pre{
        letter-spacing: 0.02rem;
        font-size: 1.2vmin;
    }
    #status{
        width: 70vw;
        height: 7vw;
        border-radius: .8vh;
        margin-top: 5%;
        font-size: 1.2vw;
        display: flex;
        background-color: #494b4b;
        z-index: 2;
        position:relative;
        font-size: 2vw;
        align-items: center;
        justify-content: center;
        color: #afafaf;
        align-content: center;

    }
    
    #control-pannel{
        width: 70vw;
        height: 4vw;
        border-radius: 1vw;
        margin-top: 1vh;
        display: flex;
        height: 7vw;
        justify-content: center;
        align-items: center;
        border-radius: 0.5vw;
    }
    form{
        width: 100%;
        /* display: flex; */
        align-items: center;
        justify-content: center;
    }
    input{
        display: none;
    }
    label{
        font-size: calc(1.5vh);
        width: 50%;
        height: 100%;
        margin: 0.5%;
        opacity: .8;
        justify-content: center;
        align-items: center;
        background-color: #494b4b;
        width: 49%;
        text-align: center;
        display: flex;
        color: #afafaf;
        cursor: pointer;
        float: left;
    }

    .file-button{
        border-radius: 3vh 0  0 3vh;
        float: left;
    }
    .submit-button{
        border-radius: 0 3vh 3vh 0;
        float: right;
    }
    
    #description{
        display: flex;
        justify-items: center;
        display: flex;
        width: 70vmin;
        height: auto;
        color: #959595;
        margin-top: 2vh;
        /* background-color: salmon; */
    }
    a {
        text-decoration: none;
        color: #3a9a78;
    }
    
    a::after{
        text-decoration: none;
        color: #3a9a78;
    }
    
    #TODO{
        display: flex;
        flex-direction: column;
        align-items: left;
        height: 60vw;
        margin-top: 0;
        font-size: calc(3vh);
    }
    #TODO>b{
        display: none;
    }
    #notification{
        font-size: 2.5vw;
        float:left;
        display: none;
    }

    #welcome-page{
        display: none;
        /* margin-top: 3vh; */
        font-size: 0.7vh;
        /* font-size: 0.5vh; */
        height: 0;
    }
    ul{
        display: flex;
        /* background-color: #fff; */
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }
    li{
        font-size: 1.4vh;
        margin-top: 1.5vw;
        /* margin-left: 12vw; */
        list-style: none;
        text-indent: 8%;
    }
    
    #commercial{
        font-size: 1vw;
        height: auto;
    }

    #author{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #author>img{
        margin-top: 1vh;
        width: 8vh;
        height: 8vh;
    }

    #author>p{
        display: none;
    }

    #avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70vmin;
        font-size: 1.2vh;
        margin-top: 2vh;
        flex-direction: row;
        float: center;
        /* background-color: #fff; */
    }
    

    img{
        height: 3vw;
        margin: .5vw;
    }
    

    
    #loader{
        /* margin-top: 2vw; */
        height: 0;
        width: 0;
        display: flex;
        
    }
    
    #loader span{
        width: 0;
        background-color: #fff;
        height: 0;
        margin: 0 2vw;
    }
}

    